
<div style="background-image: url(./assets/images/shape.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: center;
    background-size: contain;
">
<div class="footer_area" style="background-image: linear-gradient( to top,#caffff, #0000001c );background-size:cover; "><!-- start of footer_area -->
    <div class="container">
        <div class="row footer_hor">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="footer_title">
                    <p class="fcn ">Company</p>
                    <div class="footer_title_hor"></div>
                </div>
                
                <div class="footer_category"><!-- start of footer_category -->
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>      
                    </ul>
                </div><!-- End of footer_category -->
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="footer_title">
                    <p class="fcn">Loans </p>
                    <div class="footer_title_hor"></div>
                </div>
                
                <div class="footer_category"><!-- start of footer_category -->
                    <ul>
                        <li><a href="#">Personal Loan</a></li>
                        <li><a href="#">Home Loan</a></li>
                        <li><a href="#">Car Loan</a></li>
                        <li><a href="#">Credit Card Loan</a></li>
                            
                    </ul>
                </div><!-- End of footer_category -->
            </div>

        </div>
    </div>
    <!-- <img class="img-responsive foterimg" src="assets/images/shape.png"/> -->
    <div class="footer_copy">
        <p style="margin-top:7px; " class="fcn"> copyright 2020</p>
        <p class="fotterp">Powered by AURUM™</p>
    </div>
</div>

</div>