<app-header></app-header>




<div class="fullcalcoltor container" >



    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8" >
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="fastinput inputforcal">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label><b>Loan Amount (MMK)</b></label>
                      <input type="text" class="calfiled" (blur)="tbupdate(0)"
                        [(ngModel)]="query.amount" placeholder="Loan Amount" name="pemi.highValue"  style="float: right;" />
                    </div>
                    <ng5-slider [(value)]="pemi.value" [options]="poptions" (userChangeEnd)="update()">
                    </ng5-slider>
                  </div>
                  
                </div>
                <div class="fastinput inputforcal">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label><b>Interest Rate (p.a)</b></label>
                      <input type="text" class="calfiled" value="9.5"  style="float: right;" disabled="true" />
                    </div>
                  </div>
                  
                </div>
                <div class="fastinput inputforcal">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label><b>Tenure (years)</b></label>
                      <input type="text" *ngIf="yrToggel"  (blur)="tbupdate(2)"
                        placeholder="Loan Tenure in Yr" [(ngModel)]="query.tenureYr"  style="float: right;">

                    </div>
                    <ng5-slider *ngIf="yrToggel" [(value)]="temi.value" [options]="toptions" (userChangeEnd)="update()">
                    </ng5-slider>
                    
                  </div>
                  
                </div>
                
              </div>
              <div class="col-md-5 col-sm-5 col-lg-5">
                        <div class="well">

          <div class="jusify-center">
            <h5>
              Loan EMI
            </h5>
            <span class="result">
              {{result.emi || "--"}}
            </span>
          </div>

          <hr />

          <div>
            <h5>
              Total Interest Payable 
            </h5>
            <span class="result">
              {{result.interest || "--"}}
            </span>
          </div>

          <hr />
          <div>
            <h5>
              Total Payment
            </h5>
            <h6>
              (Principal + Interest)
            </h6>
            <span class="result">
              {{result.total || "--"}}
            </span>
          </div>



        </div>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4" style=" border: 2px solid grey; padding: 10px;">
                    <div class="well">

          <div class="jusify-center">
            <h5>
              Loan EMI
            </h5>
            <span class="result">
              {{result.emi || "--"}}
            </span>
          </div>

          <hr />

          <div>
            <h5>
              Total Interest Payable
            </h5>
            <span class="result">
              {{result.interest || "--"}}
            </span>
          </div>

          <hr />
          <div>
            <h5>
              Total Payment
            </h5>
            <h6>
              (Principal + Interest)
            </h6>
            <span class="result">
              {{result.total || "--"}}
            </span>
          </div>



        </div>
          </div>
          
        </div>

  
</div> 


