<!--   <mat-step [stepControl]="chosecountry" >
    <div class="container con0 conw mrned">
      <p class="toptitle">Choose Your Country</p> 
      <div style="background-image: url(./assets/images/bacc.jpg);background-repeat: no-repeat;background-position: bottom;background-position-x: center;background-size: cover;">
        <div class="fromse" style="background:transparent; ">
          <form [formGroup]="chosecountry">
            <ng-template matStepLabel>Choose your country</ng-template>
              
              <mat-radio-group aria-label="Select an option"  formControlName="cname">

                <mat-radio-button class="matitm" value="India">India</mat-radio-button><br>
                <mat-radio-button class="matitm" value="Myanmar">Myanmar</mat-radio-button><br>
                <mat-radio-button class="matitm" value="Vietnam">Vietnam</mat-radio-button><br>
                <mat-radio-button class="matitm" value="Phillipines">Phillipines</mat-radio-button>
              </mat-radio-group>
              <div>
                <button id="subbut" class="fcn subbut bt1"  mat-button  data-toggle="modal" data-target="#Country" (click)="cmsg()" >Continue</button>
              </div>-->


          <!-- Modal -->
           <!--  <div class="modal fade" id="Country" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static">
              <div class="modal-dialog" role="document">
                <div class="modal-content mdcmsg">
                  <div class="modal-header mdhc">
                  </div>
                  <div class="modal-body">
                      
                       <p style="text-align: center; font-size: 16px;">{{umsg}}</p>
                    
                   

                   <button id="subbut" class="fcn mdbut bt2"  mat-button   data-dismiss="modal" matStepperNext>Continue</button>

                   
                  </div>
                  
                  <div class="modal-footer">
                    
                  </div>
                </div>
              </div>
            </div>

              

         

           </form>


        </div>
      </div>
      </div>
     
  </mat-step> --> 

  <!-- 1 end here -->
