<app-header></app-header>
<div class="header " style="background-image: url(./assets/images/hero.jpg);background-size:cover;min-height: 450px;" >
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="fm0">
          <h3 class="fcn fsz">What Are You Looking For?</h3><br>
          <form>
            <select class="form-control fm0in" id="">
              <option>Loans</option>
              <option>Cards</option>
            </select>
            <br>
            <select class="form-control fm0in" id="">
              <option>Auto Loan</option>
              <option>Home loan</option>
              <option>Education loan</option>
              <option>Personal Loan</option>
            </select>
            <br>
            <a routerLink='apply' class="applybut">Apply Online</a>
            <a href="" class="konwbut">Know More</a>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>


<!-- know more  -->


 <div class="container-fluid container2">
  <div class="container1">
    <h3 class="fcn fsz">Our Loan will help you meet your needs so that you <br> never have to compromise with all that life has to offer.</h3>
    <div class="row content0">
      
      <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive conimg" src="assets/images/body.jpg">
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
       <div class="textcon">
          <p class="fcn"><b>Text</b></p>
        <p class="fcn"></p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive conimg" src="assets/images/body.jpg">
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
       <div class="textcon">
          <p class="fcn"><b>Text</b></p>
        <p class="fcn"></p>
       </div>
      </div>
      
      <div class="col-md-3 col-sm-3 col-lg-3">
       <div class="textcon">
          <p class="fcn"><b>Text</b></p>
        <p class="fcn"></p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive conimg" src="assets/images/body.jpg">
      </div>
      
      <div class="col-md-3 col-sm-3 col-lg-3">
       <div class="textcon">
          <p class="fcn"><b>Text</b></p>
        <p class="fcn"></p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive conimg" src="assets/images/body.jpg">
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive conimg" src="assets/images/body.jpg">
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
       <div class="textcon">
          <p class="fcn"><b>Text</b></p>
        <p class="fcn"></p>
       </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <img class="img-responsive conimg" src="assets/images/body.jpg">
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
       <div class="textcon">
          <p class="fcn"><b>Text</b></p>
        <p class="fcn"></p>
       </div>
      </div>

    </div>
  </div>
</div>
