<div class="topbar">
  <img class="img-responsive img imglogo" src="assets/images/logo.png">
</div>
 


<div style="background: red;">

<mat-horizontal-stepper [linear]="isLinear" #stepper>



















<!-- part 4 -->
 <mat-step [stepControl]="therdFormGroup">
    <section class="se3 getstr">
      <div class="container con0 conw">
        <p class="toptitle">Product Details</p> 
        <div class="fromse">
          <form [formGroup]=" therdFormGroup">
            <ng-template matStepLabel>Product Details</ng-template>
            <div class="form-group">
                <label for="exampleFormControlInput1">Car Model </label>
                <input   formControlName="carmodel" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Car  Price</label>
                <input   formControlName="carprice" type="Text" class="form-control"  placeholder="10,000000" disabled="true" value="10,000000" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Dealer Quoted Price</label>
                <input (change)="preapprovecalcolator()"  formControlName="cardelarprice" type="Text" class="form-control" id="exampleFormControlInput1" value="{{disprice}}">
              </div>
<!--               <div class="custom-control custom-radio custom-control-inline">
                
                <label class="custom-control-label" for="customRadioInline1">Do you want to include RTO cost?</label>
                <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span>
                </label>
              </div> -->
              <div class="form-group">
                <label for="exampleFormControlSelect1">Tentative RTO cost</label>
                <input (change)="preapprovecalcolator()"  formControlName="rtocost" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" value="{{disrto}}">
              </div>
              
              <div class="form-group">
                <label for="exampleFormControlSelect1">Tentative Insurance Cost</label>
                <input (change)="preapprovecalcolator()"  formControlName="insucost"  type="Text" class="form-control" id="exampleFormControlInput1" value="{{disinsu}}">
              </div>
              
             <p class="tcost">Total Car Cost: <span>{{totalcarprice}} {{courency}}</span></p><br>
             <p class="tcost">
               Additional Document charges and Post Disbursement charges as applicable. Stamp duty at actuals.
             </p>

       
             
            <div>
              <button class="btn btn-success btnleft"  matStepperPrevious>Back</button>
              <button class="btn btn-success btnright"  matStepperNext>Next</button>
            </div>
     
            
          </form>
          
        </div>
      </div>
    </section>
  </mat-step> 
 



<!-- step 5 -->



  <mat-step [stepControl]="Congratulation">
    <section class="se3 getstr">
      <div class="container con0 conw">
        <p class="toptitle">Congratulation</p>
        <div class="fromse">
          <form [formGroup]=" Congratulation">
            <ng-template matStepLabel>Pre-Approved Offer</ng-template>
              <h5>You have  pre-approved offer up to <span>{{preapproveamountforuser}}</span></h5>
              <p>Car Model: <b><span>BMW i7</span></b></p>
              <p>Car Price: <b><span>100000</span></b></p>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Loan Amount</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" formControlName="loanamount" (change)="emaicalculator()" value="{{disamount}}">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Loan Tenure </label>
                <select  class="form-control"  (change)="emaicalculator()" formControlName="yearreturn" >
                  <option value="1">1 Years</option>
                  <option value="2">2 Years</option>
                  <option value="3">3 Years</option>
                  <option value="4">4 Years</option>
                  <option value="5">5 Years</option>   
                </select>
               
              </div>


              <p>Interest Rate:  <b><span>9.5 % per annum</span></b></p>
              <p>Monthly EMI: <b><span>{{finalemi}}</span></b></p>
              <p>Total To Repay: <b><span>{{totalamount}}</span></b></p>
              <p>Total Interest To Pay:<b><span>{{finalinterest}}</span></b></p> 

       
             
            <div>
              <button class="btn btn-success btnleft"  matStepperPrevious>Back</button>
              <button class="btn btn-success btnright"  matStepperNext>Next</button>
            </div>
     
            
          </form>
          
        </div>
      </div>
    </section>
  </mat-step>















































  <mat-step [stepControl]="chosecountry" >
    <div class="container con0 conw mrned">
      <p class="toptitle">Choose Your Country</p>  
        <div class="fromse">
          <form [formGroup]="chosecountry">
            <ng-template matStepLabel>Choose your country</ng-template>
              
              <mat-radio-group aria-label="Select an option"  formControlName="cname">
                <mat-radio-button class="matitm" value="India">India</mat-radio-button><br>
                <mat-radio-button class="matitm" value="Myanmar">Myanmar</mat-radio-button><br>
                <mat-radio-button class="matitm" value="Vietnam">Vietnam</mat-radio-button><br>
                <mat-radio-button class="matitm" value="Phillipines">Phillipines</mat-radio-button>
              </mat-radio-group>
              <div>
                <button id="subbut" class="fcn subbut bt1"  mat-button  data-toggle="modal" data-target="#Country" (click)="cmsg()" >Continue</button>
              </div>


          <!-- Modal -->
            <div class="modal fade" id="Country" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static">
              <div class="modal-dialog" role="document">
                <div class="modal-content mdcmsg">
                  <div class="modal-header mdhc">
                  </div>
                  <div class="modal-body">
                      
                       <p style="color: green; text-align: center; font-size: 18px;">{{umsg}}</p>
                    
                   

                   <button id="subbut" class="fcn mdbut bt2"  mat-button   data-dismiss="modal" matStepperNext>Continue</button>

                   
                  </div>
                  
                  <div class="modal-footer">
                    
                  </div>
                </div>
              </div>
            </div>

              

         

           </form>


        </div>
      </div>
     
  </mat-step>

  <!-- 1 end here -->








  <mat-step [stepControl]="firstFormGroup">

    <section class="se0 getstr">
  <div class="container con0 conw">
    <p class="toptitle">Let's Get Started</p>
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-9">
        <div class="fromse">
          <form [formGroup]="firstFormGroup">
             <ng-template matStepLabel>Let's Get Started</ng-template>
          
            <div *ngIf="unum">
              <label>Mobile Number: </label>
              <input [style.border-bottom] = "eamply ? '2px solid red' : '2px solid black'" style="max-width: 300px;margin-left: 20px;" matInput class="getstrin0" type="text" formControlName="number" placeholder="{{numcode}}XXXXXXXXXXX" />
            </div>
          
            <div class="alartse0">
              <small *ngIf="eamply" style="color: red;">*This need to be fill</small><br>
              <input class="getstrin" type="checkbox"  formControlName="numdic"/><p class="getstrin01">I agree that the number mentioned above belongs to me.</p>

             <small *ngIf="eamply" style="color: red;">*This need to be fill <br></small> 
              <input  class="getstrin" type="checkbox" formControlName="trams" [style.border-bottom] = "eamply ? '2px solid red' : '2px solid black'"/><p class="getstrin01">I authorize XYZ Bank and its representatives to Call, SMS or communicate via WhatsApp regarding my application. This consent overrides any registration for DNC / NDNC. I confirm that I am in Myanmar, I am a major and a resident of Myanmar and I have read and I accept XYZ Bank's <a href="">Privacy Policy</a></p>
            </div>

              <div>
                
                <button id="smsbut" class="fcn subbut bt3"  mat-button (click)="sms()" *ngIf="smsbut">Next</button>

                
              </div>

              <!-- Modal -->
                <div class="modal fade" id="tndalart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content mdcmsg">
                      <div class="modal-header mdhc">
                      </div>
                      <div class="modal-body">
                          
                           <p style="color: red; text-align: center; font-size: 18px;">{{alartmsg}}</p>
                        
                       

                       <button id="subbut" class="fcn mdbut bt5"  mat-button   data-dismiss="modal" matStepperNext>Continue</button>

                       
                      </div>
                      
                      <div class="modal-footer">
                        
                      </div>
                    </div>
                  </div>
                </div>

                  
                  
             
             
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static">
              <div class="modal-dialog" role="document">
                <div class="modal-content mdcon">
                  <div class="modal-header mdhc">
                    <p class="modaltitle" id="exampleModalLabel">Verify your Number</p>
                  </div>
                  <div class="modal-body">
                      <input type="text"  class="mdin form-control" formControlName="code" maxlength="6"> <br>
                       <p style="color: red;">{{mmsg}}</p>
                    <p>6 digits Verification OTP sent to  {{displaynumber}}</p>
                    <button id="verify" class="fcn mdbut bt4"  mat-button (click)="votp()" *ngIf="verify">Verify</button>

                   <button id="subbut" class="fcn mdbut bt6"  mat-button  *ngIf="subbut" data-dismiss="modal" matStepperNext>Continue</button>

                    <br><br><p>By clicking on the CONTINUE you agree to receive SMS call communication from XYZ bank</p>
                  </div>
                  <hr>
                  <button class="fcn mdresend"   (click)="sms()"   >Resend Verification code</button>
                  <div class="modal-footer">
                    
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3"  style="border: 1px solid silver;">
        <img class="img-responsive siderimg" src="/assets/images/AL_Sidebar.png">

       <ul class="siedlist">
         <li>Get <b>up to 90% finance for the car you want</b></li><br>
         <li>Relax with <b>flexible EMIs</b> - choose repayment duration upto 7 years</li>
       </ul>
       <hr>
       <button class="viewbut"    >View more</button>




      </div>
      
    </div>

  </div>

</section>
    
</mat-step>










  <!-- part 2 -->

 

 <mat-step [stepControl]="kycgroup">
    <div class="container con0 conw mrned">
        
        <div class="fromse">
          
            <form [formGroup]="kycgroup">
            <ng-template matStepLabel>Select an account</ng-template>
              <div>
              <h3>We found this account registered with your number. So do you want to continue with that?</h3>
               <mat-radio-group aria-label="Select an option"  formControlName="existingaccount">
                <mat-radio-button class="matitm" value="India">xxx-xxx-xxx89</mat-radio-button>
              </mat-radio-group> 
            </div> 
            <div>
              <h3>Your current mobile number is not linked to any account with us , please start the KYC process.</h3>
              
            </div>


             
             
              <div>
                <button class="fcn subbut bt3"  mat-button matStepperNext>Next</button>
              </div>
           </form>

        </div>
      </div> 
  </mat-step> 















  <mat-step [stepControl]="kycoption" *ngIf="countryrestic">
    <div class="container con0 conw mrned">
      <p class="toptitle">Select KYC option</p>  
        <div class="fromse">
          
            <form [formGroup]="kycoption">
            <ng-template matStepLabel>KYC option</ng-template>
             <div>
              <p>For Proceeding further,you can voluntarily at your discretion choose,one of the following KYC options.If you choose the Aadhaar e-KYC as an option the same can be effected online during this session and it is faster.If you choose the physical OVD KYC Option,either the bank's representative may get in touch with you or may have to visit the Bank's Branch.</p> 
              <mat-radio-group aria-label="Select an option"  formControlName="kycop">
                <mat-radio-button class="matitm" value="doc">Upload official valid documents </mat-radio-button>
                <p>Upload required documents and get a loan post verification</p>
                <br>
                 <mat-radio-button class="matitm" value="doc">Voluntary Aadhaar(Only In india)</mat-radio-button><p>Simple way to apply for an appropriate product</p> 
              </mat-radio-group>
            </div> 
              <div>
                <button class="fcn subbut bt3"  mat-button   data-toggle="modal" data-target="#kyccon">Next</button>
              </div>

              <!-- Modal -->
            <div class="modal fade" id="kyccon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static">
              <div class="modal-dialog" role="document">
                <div class="modal-content mdcmsg">
                  <div class="modal-header mdhc">
                  </div>
                  <div class="modal-body">
                      
                       <p style="color: green; text-align: center; font-size: 18px;">Thank you for choosing the physical OVD based KYC option. The Bank's representative may get in touch with you to complete the KYC or you may visit the Bank's branch for the same. However, you can still fill in your application here.</p>
                    
                   

                   <button id="subbut" class="fcn mdbut bt2"  mat-button   data-dismiss="modal" matStepperNext>Continue</button>

                   
                  </div>
                  
                  <div class="modal-footer">
                    
                  </div>
                </div>
              </div>
            </div>





           </form>

        </div>
      </div> 
  </mat-step> 





<!-- part 3 -->

  <mat-step [stepControl]="secondFormGroup">
    <section class="se3 getstr">
      <div class="container con0 conw">
       
        <div class="fromse">
          <form [formGroup]=" secondFormGroup">
            <ng-template matStepLabel>Check Loan Eligibility</ng-template>
            <h4>Residence Details </h4>
            <br>
            <div class="form-group">
              <label for="exampleFormControlInput1">City of Residence </label>
              <input class="field" id="locality" type="text" class="form-control" (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  formControlName="city">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Residence  Type</label>
              <select  class="form-control"  formControlName="residencetype" >
                <option value="India">Company provided </option>
                <option value="Dhaka">Hostel</option>
                <option value="Dhaka">Owned by parent/ sibling</option>
                <option value="Dhaka">Owned by self/ spouse</option>
                <option value="Dhaka">Paying guest</option>
                <option value="Dhaka">Rented staying alone</option>
                <option value="Dhaka">Rented with family</option>
                <option value="Dhaka">Rented with friends</option>
              </select>
             
            </div>
            
           
            <br/>
            
            <br>
            <h4>Employment and income details</h4>
            <br>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Employment Type</label>
              <select matInput class="form-control" id="exampleFormControlSelect1"  formControlName="employmenttype" (change)="ctes()">
                <option value="Salaried" class="form-control">Salaried</option>
                <option value="SalariedDoctor" class="form-control">Salaried Doctor</option>
                <option value="SelfEmployedbusiness" class="form-control">Self Employed business</option>
                <option value="SelfEmployedProfessional" class="form-control">Self Employed professional</option>
              </select>
            </div >
             
            <div *ngIf="employmentsec1">
              <div class="form-group">
                <label for="exampleFormControlInput1">Employer Name </label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" formControlName="Employmentname">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Monthly Take Home Salary</label>
                <input matInput  formControlName="salary" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="{{courency}}" >
              </div>
              
            </div>



            <div *ngIf="employmentsec2">
              <div class="form-group">
                <label for="exampleFormControlInput1">Employer Name </label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Total Work Experience</label>
                <select  class="form-control"   >
                  <option value="India">1</option>
                  <option value="Dhaka">2</option>
                  <option value="Dhaka">3</option>
                  <option value="Dhaka">4</option>
                  <option value="Dhaka">>5</option>
                  
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Monthly Take Home Salary</label>
                <input matInput  formControlName="salary" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="{{courency}}" >
              </div>
            </div>


            <div *ngIf="employmentsec3">
              <div class="form-group">
                <label for="exampleFormControlInput1">Employer Name</label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Total Work Experience</label>
                <select  class="form-control"   >
                  <option value="India">1</option>
                  <option value="Dhaka">2</option>
                  <option value="Dhaka">3</option>
                  <option value="Dhaka">4</option>
                  <option value="Dhaka">>5</option>
                  
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Was Latest ITR audited</label>
                <select  class="form-control" >
                  <option value="India">YES</option>
                  <option value="Dhaka">NO</option>
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Applicant Type</label>
                <select  class="form-control"  >
                  <option value="India">Partner applying as an Individual </option>
                  <option value="Dhaka">Partnership</option>
                  <option value="Dhaka">Firm Proprietor</option>
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Was Latest ITR audited</label>
                <select  class="form-control"  >
                  <option value="India">YES</option>
                  <option value="Dhaka">NO</option>
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Latest Year's Depreciation</label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Latest Year's Profit After Tax</label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
            </div>


            <div *ngIf="employmentsec4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Employer Name</label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Total Work Experience</label>
                <select  class="form-control"  >
                  <option value="India">1</option>
                  <option value="Dhaka">2</option>
                  <option value="Dhaka">3</option>
                  <option value="Dhaka">4</option>
                  <option value="Dhaka">>5</option>
                  
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Was Latest ITR audited</label>
                <select  class="form-control"  >
                  <option value="India">YES</option>
                  <option value="Dhaka">NO</option>
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Applicant Type</label>
                <select  class="form-control"  >
                  <option value="India">Partner applying as an Individual </option>
                  <option value="Dhaka">Partnership</option>
                  <option value="Dhaka">Firm Proprietor</option>
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Was Latest ITR audited</label>
                <select  class="form-control"  >
                  <option value="India">YES</option>
                  <option value="Dhaka">NO</option>
                </select>
               
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Latest Year's Depreciation</label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Latest Year's Profit After Tax</label>
                <input matInput type="Text" class="form-control" id="exampleFormControlInput1" placeholder="" >
              </div>
            </div>
            <div>
              <button class="btn btn-success btnleft"  matStepperPrevious>Back</button>
              <button class="btn btn-success btnright"  matStepperNext>Next</button>
            </div>
     
            
          </form>
          
        </div>
      </div>
    </section>
  </mat-step>












<!-- step 6 -->



  <mat-step [stepControl]="AddressDetails">
    <section class="se3 getstr">
      <div class="container con0 conw">
        <p class="toptitle">Address Details</p>
        <div class="fromse">
          <form [formGroup]=" AddressDetails">
            <ng-template matStepLabel>Address Details</ng-template>
              <h5>Residential Address</h5>
              <div class="form-group">
              <label for="exampleFormControlSelect1">Address line 1</label>
              <input class="field locality" id="locality2" type="text" class="form-control" (keydown.enter)="$event.preventDefault()"   formControlName="hadd1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Address line 2</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">State</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">City </label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Post Code</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Phone Number</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

            
            <br><h5>Office Address</h5>

             <div class="form-group">
              <label for="exampleFormControlSelect1">Address line 1</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Address line 2</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">State</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">City </label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Post Code</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Phone Number</label>
              <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Which address you want to use for verification purposes?</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Residential Address
                </label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Office Address
                </label>
              </div>
            </div>


       
       
             
            <div>
              <button class="btn btn-success btnleft"  matStepperPrevious>Back</button>
              <button class="btn btn-success btnright"  matStepperNext>Next</button>
            </div>
     
            
          </form>
          
        </div>
      </div>
    </section>
  </mat-step>








<!-- step 7 -->

  <mat-step [stepControl]="fileupload" >
    <section class="se3 getstr">
      <div class="container con0 conw mrned">
        <p class="toptitle">Upload Document</p>
        <div class="fromse">
          <form [formGroup]=" fileupload">
            <ng-template matStepLabel>Upload Document</ng-template>
          
             <div class="form-group">
                <label for="exampleFormControlSelect1">Upload Document</label>
                <input formControlName="ufile" type="file" class="form-control" id="" placeholder="">
              </div>
       
             
            <div>
              <button class="btn btn-success btnleft"  matStepperPrevious>Back</button>
              <button class="btn btn-success btnright"  matStepperNext>Next</button>
            </div>
     
            
          </form>
          
        </div>
      </div>
    </section>
  </mat-step>



  <!-- step 8 -->

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <section class="done0 ">
      <div class="container done1">
       
         <div class="done2">
          
          <img class="img-responsive toptik" src="/assets/images/gt.png">
         <p class="lp textc"><b>Loan application successful!</b></p><br>
         <p class="lp">Congratulations Sabbir! You have successfully applied for a car loan with Loan amount of {{totalamount}} on 25/09/2020</p><br>
         
         <p class="lp">We will contact you on your registered mobile number {{displaynumber}} shortly.</p><br>
         <hr>
         <p class="lp"> You can also check the status of your application by <a href="">Tracking using mobile number</a></p>
           
         </div>
         <div class="done2 dmarg">
         <p class="lp textc"><b>Loan Details</b></p><br>

          <table class="table table-borderless">

            <tbody>
              <tr class="trcls">
                <td class="titletd lp">Application Ref. No.</td>
                <td class="datatd lp" >DAL063198771</td>
              </tr>
              <tr class="trcls">
                <td class="titletd lp">Loan Amount</td>
                <td class="datatd lp" >{{totalamount}}</td>
              </tr>
              <tr class="trcls">
                <td class="titletd lp">Interest Rate</td>
                <td class="datatd lp" >9.5 % per annum</td>
              </tr>
              <tr class="trcls">
                <td class="titletd lp">Duration of Loan</td>
                <td class="datatd lp" >{{ this.Congratulation.value.yearreturn }} Years</td>
              </tr>
              <tr class="trcls">
                <td class="titletd lp">EMI</td>
                <td class="datatd lp" >{{finalemi}}</td>
              </tr>
              <tr class="trcls">
                <td class="titletd lp">Processing Fee</td>
                <td class="datatd lp" >1500</td>
              </tr>

            </tbody>
          </table>
           
         </div>
       
      </div>
    </section>
  </mat-step>








  
  
</mat-horizontal-stepper>
</div>